<!DOCTYPE html>
<html>
<head>
  <title>About | Max Kempler</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
    <a href="/projects">Personal Projects</a>
  </nav>

  <header>
    <h1>About Max Kempler</h1>
  </header>

  <main>
    <h2>Education</h2>
    <p>I am currently a junior at Marist College pursuing a degree in Computer Science, with a concentration in Software Development. </p>
    <P>Courses taken: Intro to Programming(Python), Software Development 1(Java), Software Development 2(Javascript), Database Management, Software Systems and Analysis, Data Communications, Internetworking, System Design</P>

    <h2>Experience</h2>
    <p>I currently work as a Student Web Programmer with Marist's IT department. This role has provided me with hands-on experience and has allowed me to apply the theoretical knowledge I've gained from my studies in a practical setting. </p>
    <p>Over the summer, I worked as a Teaching Assistant for Software Development 2. This experience further deepened my understanding of software development and also provided me with an opportunity to improve my skills in explaining complex topics in an understandable way. </p>

    <h2>More About Me</h2>
    <p>When I'm not studying or working, I enjoy spending my time skating, listening to music, and working out.</p>
  </main>

  <script src="/js/main.js"></script>
</body>
</html>
