<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Max Kempler - Personal Projects</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
    <a href="/projects">Personal Projects</a>
  </nav>
  
  <main>
    <h1>Personal Projects</h1>

    <div class="project">
      <h2>Dynamic Social Media Website</h2>
      <p>Created a dynamic social media website adhering to RESTful principles. Built the front-end using HTML and CSS, while leveraging JavaScript and Node.js with the Express framework for the back-end development. Utilized Postgres as the database system.</p>
    </div>

    <div class="project">
      <h2>AI Chatbot</h2>
      <p>Developed an AI chatbot in Python using neural networks and natural language processing techniques. Implemented text data preprocessing and analysis with NLTK to enable the chatbot to understand and generate human-like responses.</p>
    </div>

    <div class="project">
      <h2>Real-time Weather App</h2>
      <p>Developed a weather app using Swift that utilizes API calls to fetch real-time weather data. Implemented features such as location-based forecasts, intuitive user interfaces, and seamless data retrieval from reliable sources.</p>
    </div>
  </main>
</body>
</html>
