<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Max Kempler</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
    <a href="/projects">Personal Projects</a>
  </nav>

  <div class="center">
    <embed src="/assets/Max-Kempler-Resume.pdf" width="800" height="750" type="application/pdf">
  </div>
</body>
</html>
